<div class="about-container">
  <img class="about-image" src="/assets/img/avatar.jpg" alt="Jorge Serrano">
    <div class="about-info-box">
      <div class="about-info-title">
        Asuntos Propios
      </div>
      <div class="about-info-description">
      {{ site.description | escape }}
      </div>
    </div>
  <div class="about-subscribe-box">
      <div class="pencraft pc-display-flex pc-justifyContent-center pc-reset">
        <div class="container-IpPqBD">
          <form action="https://api.follow.it/subscription-form/ejlraWZWamM2RThFSGNwSVoxNlpJZ09SVzEzL1d0RFpwU3hMekdsVHRuR3hicjlhUUJmSlIzT0tQQndWcTN5L2hZeVdHcCs0TFkyYkRTa1JlazNGZ1UyS3RTQW9MajBENGdzNGgxU1R2MGtyWjdzOVB1ajJwdDdzK3ovVUp5dkd8NEZiWVJIWHVmTGYwNkhOcmlWMG9KakN2emgyU2pVdkx3YW9rc21HenQrcz0=/8" method="post">
            <div class="sideBySideWrap-vGXrwP">
              <div class="emailInputWrapper-QlA86j">
                <input class="pencraft emailInput-OkIMeB" type="email" name="email" placeholder="Escribe tu email">
              </div>
              <button tabindex="0" type="submit" class="button rightButton primary subscribe-btn button-VFSdkv">
                <span class="button-text">Suscríbete</span>
              </button>
            </div>
            <div id="error-container">
            </div>
          </form>
          <div class="animationWrapper-QRL6aQ">
          </div>
        </div>
      </div>
    </div>
</div>
