<div class="featured-other-box">
  <div class="featured-other">
      <div class="other-featured-headline">
          <h2>
              <a class="other-featured-link" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
          </h2>
      </div>
      <div class="post-excerpts-home-2">
                {{ post.description | strip_html | strip_newlines | truncate: 70 }}
      </div>
      <div class="post-meta-home-other">      
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span>{{ post.date | date: date_format }}</span>
            {% assign author = site.authors[latest_post.author] %}
          {%- if latest_post.author -%}
          <span style="margin-left:7px;margin-right:0px">•</span> 
          <span class="home-author-name">  
              <span>{{ author.name }}</span> 
          </span>
          {%- endif -%}
      </div>
  </div>
  {% if post.image %}
    <div class="picture-featured-other">
              <img class="picture-featured-other-img" src="{{- post.image | relative_url -}}" alt="">
    </div>
  {% endif %}  
</div>
