---
layout: tag-archives
---
{% assign tags = site.tags | sort %}

<div>
    {% for tag in tags %}
    <a href="{{ tag[0] | slugify }}">{{ tag[0] }} ({{ tag[1] | size }})</a>{% unless forloop.last %},{% endunless %}
{% endfor %}
</div>

<hr>

{% for tag in tags %}
<a href="{{ tag | first | slugify }}"><h3>{{ tag | first }}</h3></a>
<ul>
    {% for post in tag[1] %}
    <li>
        <span class="text-sm">{{ post.date | date: '%d/%m/%Y' }}</span>
        <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </li>
    {% endfor %}
</ul>
{% endfor %}
