// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.wrapper {
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) {
  .L-pad {
    padding:0 65px;
  }
  .featured-image-post {
    max-width:90%;
  }
}

.topbar-content {
  .site-title {
    font-size: 14px;
  }
    flex-flow: wrap;
    gap: 12px;
    align-content: center;
    display: flex;
    align-items: center;
    line-height: 40px;
}

@media (min-width: 768px) {
    .topbar-content {
            .site-title {
              font-size: 24px;
              line-height: 32px;
              text-align: center;
              white-space: nowrap;
            }
    flex-flow: wrap;
    align-content: center;
    display: flex;
    align-items: center;
    line-height: 50px;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 5px;
    justify-content: space-between;
    gap: 12px;
    }
  }

@media (min-width: 768px) {
.topbar-title {
        justify-content:center;
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 1 auto;
        margin-left:auto;
        flex-grow: 0;
  }
}

@media (min-width: 768px) {
.topbar-image-box {
      flex-basis: 0px;
      flex-grow: 1;
}
}

.topbar-image {
    align-content: center;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 32px;
    height: 32px;
    margin: 0;
    border-radius: 8px;
    /* filter: grayscale(100%) contrast(1.5);*/
}

.topbar-button-box {
  justify-content: flex-end;
  display: flex;
  align-items: center;
  flex-basis: 0px;
  flex-grow: 1;
}
.topbar-suscribe { 
            span {
              color: #ffffff;
            }
            line-height: 20px;
            font-weight: 500;
            border: 1px solid transparent;
            align-items: center;
            display: flex;
            position: relative;
            gap: 6px;
            height: 32px;
            font-size: 13px;
            border-radius: 8px;
            background-color: #ff7731;
            color: #ffffff;
            box-sizing: border-box;
            justify-content: center;
            white-space: nowrap;
            margin-left:auto;
      }

.site-nav .page-link:nth-child(1) {
    padding-left:0;
}

.site-nav {
  flex-direction: row;
    position: relative !important;
    right: 0;
    border: 0 !important;
    text-align: center !important;
    display: flex;
    justify-content: flex-start;
    background-color: transparent !important;
    margin-bottom:10px !important;
  .trigger {
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    line-height: 10px;
    flex-wrap: wrap;
    flex: 1 1 0;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
  .page-link {
    height: 100%;
    display: flex !important;
    align-items: center;
    white-space: nowrap;
    margin-left:0;
    line-height: 1;
    font-size:14px;
    }
  }
}

@media screen and (min-width: 600px) {
  .site-nav {
    .trigger {
    padding-top: 15px;
    display: flex;
    flex-direction: row;
    padding-bottom: 15px;
    line-height: 10px;
    flex-wrap: wrap;
    flex: 1 1 auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-color: var(--minima-border-color-01);
    border-top-style: solid;
    border-top-width: 1px;
      .page-link {
    height: 100%;
    display: flex !important;
    align-items: center;
    white-space: nowrap;
    margin-left:0;
    line-height: 1;
        }
    }
        position: static;
        border: none;
        background-color: inherit;
        justify-content: center;
        justify-self: center;
        display: flex;
        line-height: 10px;
        align-items: center;
        background-color: transparent !important;
        margin-bottom:10px !important;
    }
}


.pagination {
    margin-bottom: 20px;
    margin-left: 0;
}

.post-meta {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.post-meta-post {
  text-transform: uppercase;
  float: left;
  margin-left: 10px;
  font-size:12px;
  line-height:20px;  
  letter-spacing: .2px;
      a {
          color: var(--minima-text-color) !important;
      }
}

.post-meta-home {
  .tags {
  padding-left: 5px;
    text-transform: capitalize;
  }
  .home-author-name {
  padding-left: 5px;
  letter-spacing: .2px;
  }
  text-transform: uppercase;
  font-size: 0.9rem;
}

.post-meta-home-box {
  .tags {
  padding-left: 5px;
    text-transform: capitalize;
  }
.home-author-name {
  padding-left: 5px;
  }
 justify-content: center;
  display: flex;
  text-transform: uppercase;
  font-size: 12px;
  line-height: 20px;
  font-weight:500;
  letter-spacing: .2px;
}

.post-meta-home-other {
  .tags {
  text-transform: capitalize;
  }
  .home-author-name {
  padding-left: 5px;
  }
  text-transform: uppercase;
  font-size: 12px;
  line-height:20px;
  letter-spacing: .2px;
  font-weight: 500;
  justify-self: left;
  align-self: flex-start;
  display: flex;
}

.post-meta .tags {
    padding-left: 5px;
    text-transform: capitalize;
}

.tag-list {
    li {
        float: left;
        width: 220px;
    }
    list-style: disc;
    margin-bottom: 15px;
}

h2.post-description {
  /*font-family: "Noto serif", serif;*/
  margin-bottom: 15px;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: .2px;
}

.post-header {
  margin-bottom: 20px;
}

.post-content.e-content {
    h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica Neue", -apple-system, sans-serif;
    font-weight: bold;
    }
  font-family: "Noto serif", serif;
  font-size: 19px;
  line-height: 1.75rem;
}

p.post-excerpts-home {
  /*font-family: "Noto serif", serif;*/
  font-size: 1.1rem;
  line-height: 1.23;
  font-weight: 400;
  margin-bottom: 1rem;
}

.post-excerpts-home-2 {
  /*font-family: "Noto serif", serif;*/
  font-size: 15px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 5px;
  text-align: left;
  align-self: flex-start;
}

@media (min-width: 768px) {
    p.post-excerpts-home {
  /*font-family: "Noto serif", serif;*/
  font-size: 1.1rem;
  line-height: 1.23;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
  }
}

h3.post-meta-list {
  font-family: "Roboto", "Helvetica Neue", -apple-system, sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
}

.post-title {
  margin-bottom: 10px;
  font-size: 2rem;
  letter-spacing: .2px;
  line-height: 36px;
}

@media screen and (min-width: 950px) {
    .post-title, .post-content h1 {
        font-size: 2rem;
    }
}

 .post-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 20px;
    border-bottom: solid 1px;
    /* border-top: solid 1px; */
    border-color: var(--minima-border-color-01);
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 15px;
  }

.post-category {
  text-transform: uppercase;
  margin-bottom: 8px;
  font-size: 15px;
  letter-spacing: .2px;
  margin-top: 0px;
}

.author-image {
  float: left;
  max-width: 36px;
}

.home-featured {
  width: 100%;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
  @media (min-width: 576px) {
    .home-featured {
      max-width: 100%; 
    } 
}
  @media (min-width: 768px) {
    .home-featured {
      max-width: 100%; 
    } 
}
  @media (min-width: 992px) {
    .home-featured {
      max-width: 100%; 
    } 
}
  @media (min-width: 1200px) {
    .home-featured {
      max-width: 1140px; 
    }
}

.home-featured-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.featured-box-content {
        display: flex;
        flex-direction: column;
        width: auto;
        border-color: var(--minima-border-color-01);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding-bottom: 20px;
  }


@media (min-width: 768px) {
    .featured-box-content {
        padding-bottom: 15px;
        display: flex;
        width: auto;
        flex-direction: row;
        border-color: var(--minima-border-color-01);
        border-bottom-style: solid;
        border-bottom-width: 1px;
  }
}


.home-second-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: .25rem;
    width: 100%;
}

.featured-column-1 .featured-column-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
}
 @media (min-width: 768px) {
    .featured-column-1 {
        flex: 0 0 60%;
        max-width: 60%;
   }
}

@media (min-width: 768px) {
    .featured-column-2 {
        flex: 0 0 40%;
        max-width: 40%;
   }
}

.second-column-1 .second-column-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
}
 @media (min-width: 768px) {
    .second-column-1 {
        flex: 0 0 67%;
        max-width: 67%;
   }
}

@media (min-width: 768px) {
    .second-column-2 {
        flex: 0 0 33%;
        max-width: 33%;
   }
}

.first-featured-box {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 1.5rem !important;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
   }

@media (min-width: 768px) {
    .first-featured-box {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 1.5rem !important;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 0px;
   }
}

.second-featured-box {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  margin-bottom: 1rem !important;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
   }

@media (min-width: 768px) {
    .second-featured-box {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 1rem !important;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 20px;
   }
}

.featured-box-image {
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 1 50%;
    aspect-ratio: 1.5 / 1;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
  .featured-box-image {
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 1 50%;
    aspect-ratio: 1.5 / 1;
    margin-bottom: 10px;
    height: auto;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
  }
  .featured-box-image-content {
    width: 100%;
    height: auto;
    max-height: inherit;
    object-fit: cover;
    display: flex;
    aspect-ratio: 1.5 / 1;
  }
}

  .first-featured-headline {
    flex-direction: column;
    display: flex !important;
    flex: 1 1 50%;
    align-items: flex-start;
    align-self: center;
              a {
                text-align: center;
                display: flow;
            }
   }

@media (min-width: 768px) {
 .first-featured-headline {
    justify-content: center;
    box-sizing: border-box;
    flex: 50%;
    padding-right: 32px;
    padding-top: 32px;
    padding-left: 32px;
    align-items: center;
    flex-direction: column;
    display: flex;
              a {
                text-align: center;
                display: flow;
            }
   }
}

.first-featured-link {
      color: var(--minima-text-color) !important;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: -.5px;
      line-height: 1.15;
      margin-top: 5px;
       }

 .second-featured-headline {
    flex-direction: column !important;
    display: flex !important;
    flex: 1 1 auto;
    margin-top: 1rem;
       a {
            text-align: center;
                display: flow;
          }
       h2 {
            margin-bottom: .5rem !important;
          }
   }

.second-featured-link {
      color: var(--minima-text-color) !important;
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: -1px;
      line-height: 1.15;
       }

   h2.first-featured-headline {
     display:flex;
     font-size: 1.75rem;
     margin-bottom: .5rem !important;
     
   }

  .featured-other-box {
    display: flex;
    padding-top: 1.25rem;
    border-color: var(--minima-border-color-01);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.second-column-1 > .featured-other-box:nth-last-child(2) {
    border-bottom: none !important ;
    display: flex;
    padding-top: 1.25rem;
    margin-bottom: 0.75rem;
}

.site-index .second-column-1 > .featured-other-box:nth-child(1) {
    display: none !important ;
}

  .featured-other {
    align-items: center !important;
    display: flex !important;
    margin-bottom: 1.5rem !important;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    flex-direction: column;
    flex: 1 1 75%;
    gap: 4px;
   }

@media (min-width: 768px) {
   .featured-other {
    align-items: center !important;
    display: flex !important;
    margin-bottom: 1.5rem !important;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    flex-direction: column;
    flex: 1 1 75%;
    gap: 4px;
   }
}

   .picture-featured-other {
    max-width: 160px;
    margin-left: 10px;
    align-self: flex-start;
    flex: 1 1 20%;
    object-fit:cover;
    border-radius:4px;
    overflow:hidden;
    height: auto;
    margin-bottom: 20px;
   }

@media (max-width: 768px) {
   .picture-featured-other-img {
    max-width: 100%;
    vertical-align: middle;
    display: block;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 8px;
  }
}
  
   .other-featured-headline {
    align-self: flex-start !important;
    display: flex;
    flex-direction: column;
     h2 {
       margin-bottom: 5px !important;
       display: flex !important;
     }
   }

.other-featured-link {
    color: var(--minima-text-color) !important;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none !important;
    letter-spacing: -.2px;
    line-height: 1.15;
}

.page-content {
  padding: 0;
  flex: 1 0 auto;
  margin-top: 30px;
  margin-bottom:20px;
}

@media (max-width: 768px) {
.page-content {
    padding: 20px 0;
    flex: 1 0 auto;
    margin-top:0px;
  }
}

.post-category-ideas {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1.15rem;
    margin-top: 10px;
    text-align: center;
}

h1.post-title-ideas {
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
    letter-spacing: -1px;
    line-height: 1.15;
    font-weight: 700;
    font-size: 2.5rem;
}

@media screen and (min-width: 800px) {
    .post-title-ideas, .post-content h1 {
        font-size: 2.625rem;
    }
}

h2.post-description-ideas {
    text-align: center;
    font-family: "Noto serif", serif;
    margin-bottom: 20px;
    font-size: 1.75rem;
    letter-spacing: -0.25px;
}

.about-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-top: 1.25rem;
    margin-left: 2rem;
    align-content: flex-start;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
 .about-container {
    display: none;
   }
}

.about-image {
    width: 32px;
    height: 32px;
    margin: 0;
    border-radius: 8px;
    display: block;
    /* filter: grayscale(100%) contrast(1.5);*/
}

.about-info-box {
display: flex;
flex-direction: column;
gap: 5px;
}

.about-info-title{
font-weight: 700;
line-height: 24px;
font-size: 18px;
}

.about-info-description{
line-height: 20px;
font-size: 12px;
}

.post-tags-box {
    border-radius: 5px;
    border: 1px solid;
    padding: 1px 5px;
    border-color: var(--minima-border-color-01);
    text-transform: uppercase;
    font-size: 14px;
  a {
    color: var(--minima-text-color) !important;
  }
}

.subscription-widget-wrap {
      display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--minima-border-color-01);
    margin-top: 20px;
    padding-top: 10px;
}

.subscription-widget .show-subscribe {
word-break: break-word;
direction: ltr!important;
text-decoration: none;
line-height: 1.5;
max-width: 560px;
margin: 24px auto;
align-items: center;
display: flex;
text-align: center;
padding: 0 32px;
font-kerning: auto;
cursor: default;
overflow-wrap: break-word;
list-style: none;
max-width: 560px;
margin: 24px auto;
padding: 24px;
display: flex;
flex-direction: column;
flex-wrap: wrap;
align-content: center;
justify-content: center;
align-items: center;
}

.preamble {
font-kerning: auto;
cursor: default;
overflow-wrap: break-word;
list-style: none;
word-break: break-word;
direction: ltr!important;
color: var(--minima-text-color);
margin-top: 16px;
font-size: 18px;
max-width: 384px;
width: fit-content;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
margin-left: auto;
margin-right: auto;
}

.subscribe-widget{
text-align: center;
padding: 0 32px;
display:flex;
margin: 0 0 1em;
direction: ltr;
line-height: 1.5;
text-align: left;
align-items: center;
justify-content: center;
align-content: center;
flex-direction: row;
}

.about-subscribe-box {
text-align: center;
display:flex;
margin: 1em 0 1em;
direction: ltr;
line-height: 1.5;
text-align: left;
align-items: center;
justify-content: center;
align-content: center;
flex-direction: row;
justify-content: flex-start;
flex-direction: row;
}

.pc-justifyContent-center .pc-display-flex {
    justify-content: center;
    display: flex;
}

.container-IpPqBD {
    width: 100%;
    max-width: 380px;
}

.sideBySideWrap-vGXrwP {
    flex-flow: row;
    align-items: flex-start;
    max-width: 380px;
    display: flex;
}

.emailInputWrapper-QlA86j {
    flex-grow: 1;
}

.emailInput-OkIMeB {
    box-sizing: border-box;
    padding: 12px;
    /*background-color: var(--color-bg-secondary-themed);*/
    border: 1px solid #ff7731;
    border-radius: 8px 0 0 8px;
    font-size: 15px;
    line-height: 20px;
    width: 100%;
    color: var(--minima-text-color) !important;
    border-right-width: 0;
    display: inline-block;
    height: 40px;
}

.button-VFSdkv.button-VFSdkv.button-VFSdkv {
    height: 40px;
    padding: 0 20px;
    background: #ff7731;
    border: 1px solid transparent;
    border-radius: 0 8px 8px 0;
    color: #ffffff;
    font-size: 14px;
    flex-shrink: 0;
    margin-top: 0 !important;
}

.animationWrapper-QRL6aQ {
    z-index: 1;
    width: 100%;
    height: 0;
    position: relative;
    overflow: visible;
}

.social-media-list li a, .pagination li a {
    display: block;
    padding: 5px 5px;
    border: 1px solid var(--minima-border-color-01);
    border-radius: 40px;
}

.social-media-list li, .pagination li {
    float: left;
    margin: 0px 0px 0px 0;
}

.footer-title {
    border-bottom: 1px transparent var(--minima-border-color-01);
    font-size: 18px;
    font-weight: 700;
    line-height: 24px;
    padding-bottom: 0;
}

.page-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-bottom: solid 1px;
    border-color: var(--minima-border-color-01);
    padding-top: 5px;
    padding-bottom: 20px;
    gap: 20px;
}

.page-author-image {
    float: left;
    max-width: 145px;
}

.page-meta-info {
    margin-left: 0px;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: .2px;
    gap: 12px;
    display: flex;
    flex-direction: column;
}

h1.page-site-title {
    color: var(--minima-site-title-color);
    line-height: 36px;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0;
    letter-spacing: .2px;
}

h2.page-author-bio {
    margin-bottom: 0;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: .2px;
}

.author-location {
      font-size: 16px;
}

.page-featured-other-box {
    display: flex;
    padding-top: 1.25rem;
    border-color: var(--minima-border-color-01);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

    .page-featured-other {
        align-items: center !important;
        display: flex !important;
        margin-bottom: 0.75em !important;
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 0px;
        flex-direction: column;
        flex: 1 1 75%;
        gap: 4px;
    }

.page-picture-featured-other {
    max-width: 75px;
    margin-left: 10px;
    align-self: flex-start;
    flex: 1 1 20%;
    object-fit: cover;
    border-radius: 4px;
    overflow: hidden;
    height: auto;
    margin-bottom: 20px;
}

.page-picture-featured-other-img {
        max-width: 100%;
        vertical-align: middle;
        display: block;
        margin: 0 auto;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 8px;
    }

.year:not(:first-child) {
  margin-top: 30px;
}

.page-featured-other-box:nth-last-child(1) {
    border-bottom: none !important;
    display: flex;
    padding-top: 1.25rem;
    margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .post-listing, .author-page {
    padding:0 150px;
  }
}

.home-archive-button {
    line-height: 20px;
    font-weight: 500;
    border: 1px solid var(--minima-border-color-01);
    align-items: center;
    display: flex;
    position: relative;
    gap: 8px;
    height: 40px;
    font-size: 15px;
    border-radius: 8px;
    background-color: transparent;
    color: var(--minima-text-color) !important;
    box-sizing: border-box;
    justify-content: center;
    white-space: nowrap;
    margin-left: unset;
    padding: 0 16px;
  a {
    color: var(--minima-text-color) !important;
  }
}
