// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.post-meta {
  text-transform: uppercase;
  font-size: 0.9rem;
}

.post-meta-post {
  text-transform: uppercase;
  font-size: 0.9rem;
  float: left;
  margin-left: 10px;
}

.post-meta-home {
  .tags {
  padding-left: 5px;
    text-transform: capitalize;
  }
  text-transform: uppercase;
  font-size: 0.9rem;
}

.post-meta-home-box {
  .tags {
  padding-left: 5px;
    text-transform: capitalize;
  }
 justify-content: center;
  display: flex;
  text-transform: uppercase;
  font-size: 0.9rem;
}

.post-meta-home-other {
  .tags {
  text-transform: capitalize;
  }
  text-transform: uppercase;
  font-size: 15px;
  line-height:20px;
  justify-self: left;
  align-self: flex-start;
  display: flex;
}

.post-meta .tags {
    padding-left: 5px;
    text-transform: capitalize;
}

.tag-list {
    li {
        float: left;
        width: 220px;
    }
    list-style: disc;
    margin-bottom: 15px;
}

h2.post-description {
  font-family: "Noto serif", serif;
  margin-bottom: 20px;
  font-size: 1.75rem;
  letter-spacing: -0.25px;
}

.post-header {
  margin-bottom: 20px;
}

.post-content.e-content {
    h1, h2, h3, h4, h5, h6 {
    font-family: "Roboto", "Helvetica Neue", -apple-system, sans-serif;
    font-weight: bold;
    }
  font-family: "Noto serif", serif;
  font-size: 1.125rem;
  line-height: 2rem;
}

p.post-excerpts-home {
  /*font-family: "Noto serif", serif;*/
  font-size: 1.1rem;
  line-height: 1.23;
  font-weight: 400;
  margin-bottom: 1rem;
  text-align: center;
}

p.post-excerpts-home-2 {
  /*font-family: "Noto serif", serif;*/
  font-size: 15px;
  line-height: 1.25;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: left;
}

h3.post-meta-list {
  font-family: "Roboto", "Helvetica Neue", -apple-system, sans-serif;
  margin-bottom: 5px;
  margin-top: 5px;
}

.post-title {
  margin-bottom: 10px;
}

 .post-info-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px;
  }

.post-category {
  text-transform: uppercase;
  margin-bottom: 15px;
  font-size: 1.15rem;
  margin-top: 10px;
}

.author-image {
  float: left;
  max-width: 45px;
}

.home-featured {
  width: 100%;
  margin-right: 0px;
  padding-left: 0px;
  padding-right: 0px;
}
  @media (min-width: 576px) {
    .home-featured {
      max-width: 540px; 
    } 
}
  @media (min-width: 768px) {
    .home-featured {
      max-width: 950px; 
    } 
}
  @media (min-width: 992px) {
    .home-featured {
      max-width: 960px; 
    } 
}
  @media (min-width: 1200px) {
    .home-featured {
      max-width: 1140px; 
    }
}

.home-featured-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    width: 100%;
}

.featured-box-content {
        display: flex;
        flex-direction: column;
        width: auto;
        border-color: var(--minima-border-color-01);
        border-bottom-style: solid;
        border-bottom-width: 1px;
        padding-bottom: 20px;
  }


@media (min-width: 768px) {
    .featured-box-content {
        padding-bottom: 20px;
        display: flex;
        width: auto;
        flex-direction: row;
        border-color: var(--minima-border-color-01);
        border-bottom-style: solid;
        border-bottom-width: 1px;
  }
}


.home-second-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: .25rem;
    width: 100%;
}

.featured-column-1 .featured-column-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
}
 @media (min-width: 768px) {
    .featured-column-1 {
        flex: 0 0 60%;
        max-width: 60%;
   }
}

@media (min-width: 768px) {
    .featured-column-2 {
        flex: 0 0 40%;
        max-width: 40%;
   }
}

.second-column-1 .second-column-2 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-left: 0px;
    padding-right: 0px;
    display: flex;
    flex-direction: column;
}
 @media (min-width: 768px) {
    .second-column-1 {
        flex: 0 0 67%;
        max-width: 67%;
   }
}

@media (min-width: 768px) {
    .second-column-2 {
        flex: 0 0 33%;
        max-width: 33%;
   }
}

.first-featured-box {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 1.5rem !important;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
   }

@media (min-width: 768px) {
    .first-featured-box {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 1.5rem !important;
    margin-top: 0px;
    margin-right: 20px;
    margin-left: 0px;
   }
}

.second-featured-box {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  margin-bottom: 1rem !important;
  margin-top: 10px;
  margin-right: 0px;
  margin-left: 0px;
   }

@media (min-width: 768px) {
    .second-featured-box {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    margin-bottom: 1rem !important;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 20px;
   }
}

.featured-box-image {
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 1 50%;
    aspect-ratio: 1.5 / 1;
    height: auto;
    object-fit: cover;
    margin-bottom: 10px;
}

@media (min-width: 768px) {
  .featured-box-image {
    background-size: cover;
    background-repeat: no-repeat;
    flex: 1 1 50%;
    margin-right: 10px;
    aspect-ratio: 1.5 / 1;
    margin-bottom: 10px;
    height: auto;
    object-fit: cover;
  }
}

  .first-featured-headline {
    flex-direction: column;
    display: flex !important;
    flex: 1 1 50%;
    align-items: center;
    align-self: center;
              a {
                text-align: center;
                display: flow;
            }
   }

@media (min-width: 768px) {
 .first-featured-headline {
    flex-direction: column;
    display: flex !important;
    flex: 1 1 50%;
    margin-left: 10px;
    align-items: center;
    align-self: center;
              a {
                text-align: center;
                display: flow;
            }
   }
}

.first-featured-link {
      color: var(--minima-text-color) !important;
      font-size: 2rem;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: -1px;
      line-height: 1.15;
       }

 .second-featured-headline {
    flex-direction: column !important;
    display: flex !important;
    flex: 1 1 auto;
    margin-top: 1rem;
       a {
            text-align: center;
                display: flow;
          }
       h2 {
            margin-bottom: .5rem !important;
          }
   }

.second-featured-link {
      color: var(--minima-text-color) !important;
      font-size: 1.5rem;
      font-weight: bold;
      text-decoration: none;
      letter-spacing: -1px;
      line-height: 1.15;
       }

   h2.first-featured-headline {
     display:flex;
     font-size: 1.75rem;
     margin-bottom: .5rem !important;
     
   }

  .featured-other-box {
    display: flex;
    padding-top: 1.25rem;
    border-color: var(--minima-border-color-01);
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.second-column-1 > .featured-other-box:nth-last-child(2) {
    border-bottom: none !important ;
    display: flex;
    padding-top: 1.25rem;
    margin-bottom: 1.25rem;
}

  .featured-other {
    align-items: center !important;
    display: flex !important;
    margin-bottom: 1.5rem !important;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    flex-direction: column;
    flex: 1 1 75%;
   }

@media (min-width: 768px) {
   .featured-other {
    align-items: center !important;
    display: flex !important;
    margin-bottom: 1.5rem !important;
    margin-right: 0px;
    margin-left: 0px;
    margin-top: 0px;
    flex-direction: column;
    flex: 1 1 75%;
   }
}

   .picture-featured-other {
    max-width: 160px;
    margin-left: 10px;
    align-self: flex-start;
    flex: 1 1 20%;
    /* aspect-ratio: 1 / 1.5; */
    height: auto;
    margin-bottom: 20px;
   }

   .other-featured-headline {
    align-self: flex-start !important;
    display: flex;
    flex-direction: column;
     h2 {
       margin-bottom: 10px !important;
       display: flex !important;
     }
   }

.other-featured-link {
    color: var(--minima-text-color) !important;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none !important;
    letter-spacing: -1px;
    line-height: 1.15;
}

.page-content {
  padding-top: 15px;
}


.post-category-ideas {
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 1.15rem;
    margin-top: 10px;
    text-align: center;
}

h1.post-title-ideas {
    margin-bottom: 10px;
    text-align: center;
    font-style: italic;
    letter-spacing: -1px;
    line-height: 1.15;
    font-weight: 700;
    font-size: 2.5rem;
}

@media screen and (min-width: 800px) {
    .post-title-ideas, .post-content h1 {
        font-size: 2.625rem;
    }
}

h2.post-description-ideas {
    text-align: center;
    font-family: "Noto serif", serif;
    margin-bottom: 20px;
    font-size: 1.75rem;
    letter-spacing: -0.25px;
}

.about-container {
display: flex;
flex-direction: column;
gap: 8px;
}

.about-image {
width: 32px;
height: 32px;
border-radius: 8px;
display: block;
-webkit-filter:grayscale(100%);
filter:grayscale(100%) contrast(1.5);
}

.about-info-box {
display: flex;
flex-direction: column;
gap: 2px;
}

.about-info-title{
font-weight: 700;
line-height: 24px;
font-size: 18px;
}

.about-info-description{
line-height: 20px;
font-size: 12px;
}
