// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
p.post-meta {
  text-transform: uppercase;
}

.post-meta .tags {
    padding-left: 5px;
    text-transform: capitalize;
}

.tag-list {
    li {
        float: left;
        width: 220px;
    }
    list-style: disc;
    margin-bottom: 15px;
}

h2.post-description {
  font-family: "Merriweather", serif;
  margin-bottom: 15px;
}

.post-header {
  margin-bottom: 20px;
}

.post-content.e-content {
    h1, h2, h3, h4, h5, h6 {
    font-family: "Heebo", "Helvetica Neue", sans-serif;
    }
  font-family: "Merriweather", serif;
}
