---
layout: base
---
<article class="post">
<div class="author-page">
<div class="page-info-container">
  {% if page.logo %}
      <div class="page-author-image">
        <img src="{{- page.logo | relative_url -}}" alt="{{ page.name }}" style="-webkit-filter:grayscale(100%);filter:grayscale(100%) contrast(1.5);border-radius:50%;max-width:100%;height:auto;margin:0;" />
      </div>
        {% endif %}      
        <div class="page-meta-info">
          <h1 class="page-site-title">{{ page.name }}</h1>
              {% if page.bio %}
                <h2 class="page-author-bio">{{ page.bio }}</h2>
              {% endif %}
              {% if page.location %}
                <div class="author-location">{{ page.location }}</div>
              {% endif %}
        </div>   
    </div> 


{% for post in site.posts %}
	{% if post.author contains page.username or page.username == post.author %}
		{% include post-archive-loop.html %}
	{% endif %}
{% endfor %}
</div>
</article>
