---
layout: base
---
<article class="post">
<div class="page-info-container">
  {% if page.logo %}
      <div class="page-author-image">
        <img src="{{- page.logo | relative_url -}}" alt="{{ page.name }}" style="-webkit-filter:grayscale(100%);filter:grayscale(100%) contrast(1.5);border-radius:50%;max-width:100%;height:auto;margin:0;" />
      </div>
        {% endif %}      
        <div class="page-meta-info">
          <h1 class="page-site-title">{{ page.name }}</h1>
              {% if page.bio %}
                <h2 class="page-author-bio">{{ page.bio }}</h2>
              {% endif %}
              {% if page.location %}
                <div class="author-location">{{ page.location }}</div>
              {% endif %}
        </div>   
    </div> 

{% for post in site.posts %}
	{% if post.author contains page.username or page.username == post.author %}
		<div class="featured-other-box">
  <div class="page-featured-other">
      <div class="other-featured-headline">
          <h2>
              <a class="other-featured-link" href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a>
          </h2>
      </div>
      <div class="post-excerpts-home-2">
                {{ post.description | strip_html | strip_newlines | truncate: 70 }}
      </div>
      <div class="post-meta-home-other">      
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span>{{ post.date | date: date_format }}</span>
      </div>
  </div>
  {% if post.image %}
    <div class="page-picture-featured-other">
              <img class="page-picture-featured-other-img" src="{{- post.image | relative_url -}}" alt="">
    </div>
  {% endif %}  
</div>
	{% endif %}
{% endfor %}
</article>
