---
layout:base
---
<article class="post">
{% if page.picture %}
    <img class="author-profile-image" src="/{{ page.logo }}" alt="{{ page.name }}" />
{% endif %}
<h1 class="site-title">{{ page.name }}</h1>
{% if page.bio %}
    <h2 class="author-bio">{{ page.bio }}</h2>
{% endif %}
{% if page.location %}
    <div class="author-location">{{ page.location }}</div>
{% endif %}

{% for post in site.posts %}
	{% if post.authors contains page.username or page.username == post.authors %}
		<a href="{{ site.url }}{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
	{% endif %}
{% endfor %}
</article>
