---
layout: base
---
    <div class="post-content">
      <div class="archive-categories">
        {% capture site_categories %}{% for tag in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
        {% assign sortedCategories = site_categories | split:',' | sort %}
        {% for category in sortedCategories %}
        <a href="#{{ category | cgi_escape }}">{{ Category }}</a>{% unless forloop.last %} {% endunless %}
        {% endfor %}
      </div><!-- .category-tag-list -->
      {% for tag in sortedCategories %}
        <h2 id="{{ category | cgi_escape }}">{{ category }}</h2>
        <ul class="archive-post-list">
        {% for post in site.categoies[category] %}
          <li><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a> <span class="archive-meta"> — <time class="archive-date" datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date: "%d/%m/%Y" }}</time></span></li>
        {% endfor %}
        </ul><!-- .archive-post-list -->
        <p><a href="#top" class="archive-top-link">Volver arriba &#8593;</a></p>
      {% endfor %}
    </div><!-- .post-content -->
