---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <div class="home-featured">
  <div class="home-featured-box">
    
    <!-- latest post -->
    {% assign latest_post = site.posts[0] %}
    <div class="featured-column">
    <div class="first-featured-box">
      {%- if post.image -%}
      <div style="margin-bottom:10px;height:200px;background-size:cover;background-repeat:no-repeat">
          <img src="{{- post.image | relative_url -}}" alt="">
      </div>
      {%- endif -%}
    <div class="first-featured-headline">
    <h2><a href="{{site.baseurl}}{{latest_post.url}}">{{ latest_post.title }}</a>
    </h2>
    </div>
    <p class="post-excerpts-home">
        {{ latest_post.description | strip_html | strip_newlines | truncate: 136 }}
    </p>
    <div class="post-meta-home">
          <span>{{ post.date | date: date_format }}</span>
          {%- if post.tags -%}
          <span style="margin-left:10px;margin-right:0px">●</span> 
          <span class="tags">
            {% for tag in post.categories %}            
              <a href="{% include tag_url tag=tag %}">{{ tag }}</a> 
            {% endfor %}
            </span>
          {%- endif -%}
        </div>
    </div>
    </div>
    
    <div class="featured-column">
        
        <!-- second latest post -->
        {%- assign second_post = site.posts[1] -%}        
        <div class="featured-other">                
                {% if second_post.image %}
                <div class="picture-feature-other">
                     <img src="{{- post.image | relative_url -}}" alt="">
                </div>
                {% endif %}        
                <div class="other-featured-headline">
                    <h2><a href="{{site.baseurl}}{{second_post.url}}">{{ second_post.title }}</a></h2>
                </div>
                <div class="post-meta-home">
          <span>{{ post.date | date: date_format }}</span>
          {%- if post.tags -%}
          <span style="margin-left:10px;margin-right:0px">●</span> 
          <span class="tags">
            {% for tag in post.categories %}            
              <a href="{% include tag_url tag=tag %}">{{ tag }}</a> 
            {% endfor %}
            </span>
          {%- endif -%}
        </div>
        
        <!-- third latest post -->
        {%- assign third_post = site.posts[2] -%}        
         <div class="featured-other">                
                {% if third_post.image %}
                <div class="picture-feature-other">
                     <img src="{{- post.image | relative_url -}}" alt="">
                {% endif %}
                </div>
                <div class="other-featured-headline">
                    <h2><a href="{{site.baseurl}}{{third_post.url}}">{{ third_post.title }}</a></h2>
                </div>
                <div class="post-meta-home">
                    <span>{{ post.date | date: date_format }}</span>
                    {%- if post.tags -%}
                    <span style="margin-left:10px;margin-right:0px">●</span> 
                    <span class="tags">
                    {% for tag in post.categories %}            
                    <a href="{% include tag_url tag=tag %}">{{ tag }}</a> 
                    {% endfor %}
                    </span>
                    {%- endif -%}
        </div>
        
        <!-- fourth latest post -->
        {%- assign fourth_post = site.posts[3] -%}        
           <div class="featured-other">                
                {% if fourth_post.image %}
                <div class="picture-feature-other">
                     <img src="{{- post.image | relative_url -}}" alt="">
                {% endif %}
                </div>
                <div class="other-featured-headline">
                    <h2><a href="{{site.baseurl}}{{third_post.url}}">{{ third_post.title }}</a></h2>
                </div>
                <div class="post-meta-home">
                    <span>{{ post.date | date: date_format }}</span>
                    {%- if post.tags -%}
                    <span style="margin-left:10px;margin-right:0px">●</span> 
                    <span class="tags">
                    {% for tag in post.categories %}            
                    <a href="{% include tag_url tag=tag %}">{{ tag }}</a> 
                    {% endfor %}
                    </span>
                    {%- endif -%}
            </div>
        
    </div>
    
</div>
</div>

  {%- if posts.size > 0 -%}
  
    {%- if page.list_title -%}
      <h2 class="post-list-heading">{{ page.list_title }}</h2>
    {%- endif -%}
    <ul class="post-list">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
      {%- for post in posts -%}
      <li>
        <div style="margin-bottom:10px">
        {%- if post.image -%}
          <img src="{{- post.image | relative_url -}}" alt="">
        {%- endif -%}
        </div>
        <h3 style="margin-top:5px;margin-bottom:5px">
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        <div class="post-meta-home">
          <span>{{ post.date | date: date_format }}</span>
          {%- if post.tags -%}
          <span style="margin-left:10px;margin-right:0px">●</span> 
          <span class="tags">
            {% for tag in post.tags %}            
              <a href="{% include tag_url tag=tag %}">#{{ tag }}</a> 
            {% endfor %}
            </span>
          {%- endif -%}
        </div>
          <p class="post-excerpts-home">{{ post.description }}</p>
      </li>
      {%- endfor -%}
    </ul>
  
    {% if site.paginate %}
      <div class="pager">
        <ul class="pagination">
        {%- if paginator.previous_page %}
          <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
          <li><div class="current-page">{{ paginator.page }}</div></li>
        {%- if paginator.next_page %}
          <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
        {%- else %}
          <li><div class="pager-edge">•</div></li>
        {%- endif %}
        </ul>
      </div>
    {%- endif %}

  {%- endif -%}

</div>
