---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts %}
  {% endif %}

  <div class="home-featured">
  <div class="home-featured-box">
    
    <!-- latest post -->
    {% assign latest_post = site.posts[0] %}
    <div class="featured-column">
    <div class="first-featured-box">
      {%- if latest_post.image -%}
      <div style="margin-bottom:10px;height:200px;background-size:cover;background-repeat:no-repeat">
          <img src="{{- latest_post.image | relative_url -}}" alt="">
      </div>
      {%- endif -%}
    <div class="first-featured-headline">
      <h2><a class="first-featured-link" href="{{site.baseurl}}{{latest_post.url}}">{{ latest_post.title }}</a></h2>
        <p class="post-excerpts-home">
          {{ latest_post.description | strip_html | strip_newlines | truncate: 136 }}
        </p>
    <div class="post-meta-home">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span>{{ latest_post.date | date: date_format }}</span>
          {%- if latest_post.tags -%}
          <span style="margin-left:10px;margin-right:0px">●</span> 
          <span class="tags">
            {% for category in latest_post.categories %}            
              <a href="{% include tag_url tag=tag %}">{{ latest_post.category }}</a> 
            {% endfor %}
            </span>
          {%- endif -%}
        </div>
      </div>
    </div>
    </div>
    
    <div class="featured-column">
        
        <!-- second latest post -->
        {%- assign second_post = site.posts[1] -%}        
        <div class="featured-other">                
                {% if second_post.image %}
                <div class="picture-feature-other">
                     <img src="{{- second_post.image | relative_url -}}" alt="">
                </div>
                {% endif %}        
                <div class="other-featured-headline">
                    <h2><a href="{{site.baseurl}}{{second_post.url}}">{{ second_post.title }}</a></h2>
                <br>
                <span class="post-meta-home">
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span>{{ second_post.date | date: date_format }}</span>
                    {%- if second_post.categories -%}
                        <span style="margin-left:10px;margin-right:0px">●</span> 
                        <span class="tags">
                            {% for tag in second_post.categories %}            
                            <a href="{% include tag_url tag=tag %}">{{ second_post.tag }}</a> 
                            {% endfor %}
                        </span>
                    {%- endif -%}
                </div>
        </div>
        
        <!-- third latest post -->
        {%- assign third_post = site.posts[2] -%}        
         <div class="featured-other">                
                {% if third_post.image %}
                <div class="picture-feature-other">
                     <img src="{{- third_post.image | relative_url -}}" alt="">
                </div>
                {% endif %}        
                <div class="other-featured-headline">
                    <h2><a href="{{site.baseurl}}{{third_post.url}}">{{ third_post.title }}</a></h2>
                </div>
                <div class="post-meta-home">
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span>{{ third_post.date | date: date_format }}</span>
                    {%- if third_post.categories -%}
                        <span style="margin-left:10px;margin-right:0px">●</span> 
                        <span class="tags">
                            {% for tag in third_post.categories %}            
                            <a href="{% include tag_url tag=tag %}">{{ third_post.tag }}</a> 
                            {% endfor %}
                        </span>
                    {%- endif -%}
                </div>
        </div>
        
        <!-- fourth latest post -->
        {%- assign fourth_post = site.posts[3] -%}        
           <div class="featured-other">                
                {% if fourth_post.image %}
                <div class="picture-feature-other">
                     <img src="{{- fourth_post.image | relative_url -}}" alt="">
                </div>
                {% endif %}        
                <div class="other-featured-headline">
                    <h2><a href="{{site.baseurl}}{{fourth_post.url}}">{{ fourth_post.title }}</a></h2>
                </div>
                <div class="post-meta-home">
                  {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                    <span>{{ fourth_post.date | date: date_format }}</span>
                    {%- if fourth_post.categories -%}
                        <span style="margin-left:10px;margin-right:0px">●</span> 
                        <span class="tags">
                            {% for tag in fourth_post.categories %}            
                            <a href="{% include tag_url tag=tag %}">{{ fourth_post.tag }}</a> 
                            {% endfor %}
                        </span>
                    {%- endif -%}
                </div>
        </div>
        
    </div>
    
</div>
</div>
  
</div>
