---
layout: base
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}


  {% if site.paginate %}
    {% assign posts = paginator.posts %}
  {% else %}
    {% assign posts = site.posts%}
  {% endif %}

  {% if page.url == "/" %}
  <div class="home-featured">
    <div class="home-featured-box">
    <div class="featured-box-content">
    {% assign latest_post = site.posts[0] %}
    {%- if latest_post.image -%}
      <div class="featured-box-image">
          <img src="{{- latest_post.image | relative_url -}}" alt="">
      </div>
      {%- endif -%}
    <div class="first-featured-headline">
      <h2><a class="first-featured-link" href="{{site.baseurl}}{{latest_post.url}}">{{ latest_post.title }}</a></h2>
        <p class="post-excerpts-home">
          {{ latest_post.description | strip_html | strip_newlines | truncate: 136 }}
        </p>
    <div class="post-meta-home-box">
      {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
          <span>{{ latest_post.date | date: date_format }}</span>
          {%- if latest_post.tags -%}
          <span style="margin-left:10px;margin-right:0px">●</span> 
          <span class="tags">
            {% for category in latest_post.categories %}            
              <a href="{% include tag_url tag=tag %}">{{ category }}</a> 
            {% endfor %}
            </span>
          {%- endif -%}
        </div>
      </div>
      </div>
      </div>
  

</div>
{% endif %}

{%- if posts.size > 1 -%}
<div class="home-second-box">
  <div class="second-column-1">
    {% for post in paginator.posts %}
        
    {% include lastest-post-box.html %}

    {% endfor %}

  {% if site.paginate %}
  <div class="pager">
    <ul class="pagination">
    {%- if paginator.previous_page %}
      <li><a href="{{ paginator.previous_page_path | relative_url }}" class="previous-page">{{ paginator.previous_page }}</a></li>
    {%- else %}
      <li><div class="pager-edge">•</div></li>
    {%- endif %}
      <li><div class="current-page">{{ paginator.page }}</div></li>
    {%- if paginator.next_page %}
      <li><a href="{{ paginator.next_page_path | relative_url }}" class="next-page">{{ paginator.next_page }}</a></li>
    {%- else %}
      <li><div class="pager-edge">•</div></li>
    {%- endif %}
    </ul>
  </div>
  </div>
  <div class="second-column-2">
    {% include home-about-box.html %}
  </div>
{%- endif %}
</div>

{%- endif -%}

</div>
