---
layout: base
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
<div class="L-pad">

  <header class="post-header">
    {%- if page.categories -%}
    <div class="post-category">
          {% for tag in page.categories %}
      <span><a style="color: var(--minima-text-color)" href="{% include category_url category=category %}">{{ tag }}</a></span>
          {% endfor %}
    </div>
  {%- endif -%}
    
    <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
    
    <h2 class="post-description" itemprop="name description">{{ page.description | escape }}</h2>
    
    <div class="post-info-container">
        {% for author in site.authors %}
	      {% if page.author contains author.username or author.username == page.author %}
      <div class="author-image"><img src="{{- author.logo | relative_url -}}" alt="Avatar del autor" style="-webkit-filter:grayscale(100%);filter:grayscale(100%) contrast(1.5);border-radius:50%;max-width:100%;height:auto;margin:0"></div>
      <div class="post-meta-post">
          <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span class="p-author h-card" itemprop="name"><a href="{{ site.url }}{{ site.baseurl }}/a/{{ author.username }}">{{ author.name }}</a></span></span>
            {%- if forloop.last == false %}, {% endif -%}
      {%- endif -%}
      {%- endfor -%}
      <br>
      {%- assign date_format = site.minima.date_format | default: "%d/%m/%Y" -%}
      <time class="dt-published" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {{ page.date | date: date_format }}
      </time>
      {%- if page.modified_date -%}
        ~ 
        {%- assign mdate = page.modified_date | date_to_xmlschema -%}
        <time class="dt-modified" datetime="{{ mdate }}" itemprop="dateModified">
          {{ mdate | date: date_format }}
        </time>
      {%- endif -%}
       <span style="margin-left:7px;margin-right:6px">●</span>  
       <span>{% include reading-time %}</span>   
        </div>   
    </div> 
   {%- if page.image -%}
      <img src="{{- page.image | relative_url -}}" alt="" class="featured-image-post">
    {%- endif -%}
  </header>

  <div class="post-content e-content" itemprop="articleBody">
    {{ content }}
  </div>
  
  <hr style="margin-bottom:20px;margin-top:0px;border-color:var(--minima-border-color-01)">
 {%- if page.tags -%}
    <div class="tags"> 
          {% for tag in page.tags %}
      <span class="post-tags-box"><a href="{% include tag_url tag=tag %}"># {{ tag }}</a></span>
          {% endfor %}
    </div>
  {%- endif -%}
  {%- if site.disqus.shortname -%}
    {%- include disqus_comments.html -%}
  {%- endif -%}

  <div class="subscription-widget-wrap">
  <div class="subscription-widget show-subscribe">
    <div class="preamble">
      <p><em>Asuntos Propios</em> se limpia en el lavavajillas</p>
    </div>
    <div class="subscribe-widget">
      <div class="pencraft pc-display-flex pc-justifyContent-center pc-reset">
        <div class="container-IpPqBD">
          <form action="https://api.follow.it/subscription-form/ejlraWZWamM2RThFSGNwSVoxNlpJZ09SVzEzL1d0RFpwU3hMekdsVHRuR3hicjlhUUJmSlIzT0tQQndWcTN5L2hZeVdHcCs0TFkyYkRTa1JlazNGZ1UyS3RTQW9MajBENGdzNGgxU1R2MGtyWjdzOVB1ajJwdDdzK3ovVUp5dkd8NEZiWVJIWHVmTGYwNkhOcmlWMG9KakN2emgyU2pVdkx3YW9rc21HenQrcz0=/8" method="post">
            <div class="sideBySideWrap-vGXrwP">
              <div class="emailInputWrapper-QlA86j">
                <input class="pencraft emailInput-OkIMeB" type="email" name="email" placeholder="Escribe tu email">
              </div>
              <button tabindex="0" type="submit" class="button rightButton primary subscribe-btn button-VFSdkv">
                <span class="button-text">Suscríbete</span>
              </button>
            </div>
            <div id="error-container">
            </div>
          </form>
          <div class="animationWrapper-QRL6aQ">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</div>
</article>
